$heavy-metal: #232323;
$grey: #333333;
$grey-100: #f6f6f6;
$grey-200: #dddddd;
$grey-500: #5e5e5e;
$green: #3a9a6d;
$light-green: #58b88b;
$white: #ffffff; 

$brand-green: $green;
$brand-light-green: $light-green;
$brand-grey-100: $grey-100;
$brand-grey-200: $grey-200;
$brand-grey-500: $grey-500;
$brand-grey-600: $heavy-metal;
$brand-grey-700: $grey;
