$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../../resources/fonts/icon-font/fonts" !default;


$icon-heart: "\f004";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-map-marker: "\f041";
$icon-forward: "\f04e";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-exclamation-triangle: "\f071";
$icon-warning: "\f071";
$icon-calendar: "\f073";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-shopping-cart: "\f07a";
$icon-phone: "\f095";
$icon-envelope: "\f0e0";
$icon-rupee: "\f156";
$icon-shopping-bag: "\f290";
$icon-cart: "\e93a";
$icon-credit-card: "\e93f";
$icon-user: "\e971";
$icon-key: "\e98d";
$icon-paragraph-right: "\ea79";
$icon-paragraph-justify: "\ea7a";
$icon-facebook: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";


